.container{
    height: 100%;
    background-color: antiquewhite;
    margin: 0px;
    padding: 10px;
    text-align: center;
}
.img{
    height: 200px;
    border-radius: 3%;
    padding: 0px;
}
.row{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content:space-around;
}
h1{ 
    margin-top: 0;
    margin-bottom: 20px;

}
.green{ 
    background-color: greenyellow;
    text-align: center;
    border: 5px solid rgba(192, 192, 192, 0.395);
    border-radius: 2%;


}
.plum{
    background-color: plum;
    border: 5px solid rgba(192, 192, 192, 0.395);
    border-radius: 2%;
}

.aquamarine{
    background-color:
    aquamarine;
    border: 5px solid rgba(192, 192, 192, 0.395);
    border-radius:2%
}